DATABASE_URL="mongodb+srv://username:password@cluster0.example.mongodb.net/sportsdraftdaily?retryWrites=true&w=majority"
ADMIN_EMAIL="admin@sportsblog.com"
ADMIN_PASSWORD="ChangeMe123!"
SESSION_SECRET="change-this-secret"
OPENAI_API_KEY=""
